@font-face {
    font-family: 'Barbershop in Thailand';
    src: url('../fonts/BarbershopinThailand.woff2') format('woff2'),
        url('../fonts/BarbershopinThailand.woff') format('woff'),
        url('../fonts/BarbershopinThailand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
